.superHero-img {
  width: 200px;
  height: 220px;
  box-shadow: 3px 3px 10px gray;
  /* transition: 0.5s; */
  position: relative;
  margin: 20px;
  border: 2px solid #14225A;
}

/* .superHero-img:after, {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
} */

.superHero-img:hover,
.superHero-img:focus {
  box-shadow: 5px 5px 10px gray;
  cursor: pointer;
}

.tile {
  display: inline-block;
}
