
.scoreboard {
  background-color: #14225A;
  color: #FFFFFF;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 3px 3px 3px 3px red;
}

.nav {
  text-align: center;
  margin-bottom: 10px;
}

.nav > li {
  margin: 0 auto;
}
